.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.start-stop:hover{
  color: #ffffff !important;
  background: #eb4034;
  border-color: #eb4034 !important;
  transition: all 0.4s ease 0s;

}
.reset:hover{
  color: #ffffff !important;
  background: #3483e3;
  border-color: #3483e3 !important;
  transition: all 0.4s ease 0s;

}
.wait:hover{
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;

}
/*button:hover {*/
/*  color: #ffffff !important;*/
/*  background: #f6b93b;*/
/*  border-color: #f6b93b !important;*/
/*  transition: all 0.4s ease 0s;*/
/*}*/
